@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #dedede;
  --background-rgb: 0, 0, 0;
}

body {
  color: var(--foreground-rgb);
  background: rgba(var(--background-rgb));
}

.features-title {
  background: linear-gradient(90deg, #0f937c 50.05%, #0f9 100.7%);
}

.head-title {
  background: linear-gradient(90deg, #0f937c 10.75%, #0f9 89.89%);
}

.text-clip-all {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-background {
  background: linear-gradient(360deg, #000000 -1.68%, rgba(0, 0, 0, 0) 98.26%),
    url("/backgrounds/homepage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.top-sticky {
  top: calc(25% + 200px);
}

@media (min-width: 768px) {
  .top-sticky {
    top: calc(20% + 128px);
  }
}

.blur-card {
  backdrop-filter: blur(27px);
}

/* Animation Desktop Map */

.map-box-animation {
  /* background-color: #07d58e; */
  /* color: rgb(29 29 29 /1); */
  animation: pulseEffect 2s ease-in-out 0s alternate infinite;
}

@keyframes pulseEffect {
  0% {
    filter: drop-shadow(0 0 30px #0f9);
  }
  100% {
    filter: drop-shadow(0 0 50px #0f9);
  }
}

@layer utilities {
  .w-container {
    /* @apply mx-auto max-w-[1280px]; */
    @apply mx-auto max-w-[1440px];
  }
}

/* ================================= */
/* .card {
  display: flex;
  flex-direction: column;
 align-items: center; 11
  justify-content: center;
  background-color: #121815;
  width: 508.948px;
  aspect-ratio: 7; 222
  height: fit-content;
  padding: 40px 62px;
  border-radius: 20px;
} */
